@font-face {
    font-family: "PT Mono";
    src: url('../fonts/PT Mono.ttc') format('truetype-collection');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Mono";
    src: url('../fonts/PT Mono.ttc') format('truetype-collection');
    font-weight: 700;
    font-style: normal;
}