@import url('reset.css');
@import url('font.css');
@import url('background.css');
@import url('signs.css');
@import url('windows.css');
@import url('stars.css');
@import url('letters.css');
@import url('titles.css');
@import url('footer.css');
body{
    width: 1728px;
    height: 996px;
}
.apartment{
    font-size: 40px;
    color: #D9D9D9;
    line-height: 78%;
}
.title{
    font-size: 100px;
    position: absolute;
    line-height: 78%;
}
.main_text{
    position: absolute;
    font-size: 46px;
    line-height: 120%;
}
.red_text{
    color: #F10000;
    text-align: center;
    line-height: 150%;
    font-weight: 700;
}
.sign_text{
    font-size: 50px;
    color: #F10000;
    font-weight: 700;
    line-height: 78%;
}
.sign_regular_c{
    line-height: 78%;
    font-size: 180px;
    position: absolute;
    color: #fff;
    left: 518px;
    top: 624px;
}
.sign_bold_c{
    font-weight: 700;
    line-height: 78%;
    font-size: 220px;
    rotate: -24deg;
    position: absolute;
    color: #fff;
    left: 1060px;
    top: 527px;
}
.text_window{
    color: #fff;
    font-size: 130px;
    line-height: 150%;
}
.text_main_screen{
    line-height: 120%;
    color: #808080;
    position: absolute;
}
.letter{
    line-height: 78%;
    font-size: 100px;
    color: #D4D4D4;
    position: absolute;
}
#letter_korean{
    left: 953px;
    top: 272px;
}
#letter_chinese{
    left: 1170px;
    top: 544px;
    rotate: 22deg;
}
#letter_english{
    left: 1249px;
    top: 741px;
}
#letter_russian{
    left: 1280px;
    top: 926px;
    rotate: 22deg;
}
#text_300{
    font-size: 300px;
    left: 305px;
    top: 57px;
}
#text_200_1{
    font-size: 200px;
    left: 730px;
    top: 250px;
}
#text_200_2{
    font-size: 200px;
    left: 1097px;
    top: 101px;
}
#red_text_180{
    position: absolute;
    font-size: 180px;
    color: #fff;
    font-weight: 700;
    top: 55px;
}
#red_text_120{
    position: absolute;
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    top: 15px;
}
#red_text_80{
    font-size: 80px;
}
#red_text_60{
    font-size: 60px;
}
#red_text_50{
    font-size: 50px;
}
#red_text_40{
    font-size: 40px;
}
#text{
    font-size: 46px;
    color: #000;
}


.red_box_1{
    position: absolute;
    background-color: #F10000;
    height: 49px;
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red_box_2{
    position: absolute;
    background-color: #F10000;
    height: 60px;
    width: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#text_regular{
    left: 239px;
    top: 397px;
}
#text_bold{
    font-weight: 700;
    left: 281px;
    top: 545px;
}
#main_text_one{
    width: 1012px;
    height: 330px;
    left: 493px;
    top: 364px;
}
#main_text_two{
    width: 757px;
    height: 220px;
    left: 169px;
    top: 492px;
}
#main_text_three{
    width: 597px;
    height: 110px;
    left: 194px;
    top: 261px;
}
#main_text_four{
    width: 722px;
    height: 275px;
    left: 896px;
    top: 401px;
}
#main_text_five{
    width: 675px;
    height: 165px;
    left: 174px;
    top: 449px;
}
#box_one_1{
    left: 1338px;
    top: 205px;
}
#box_one_2{
    left: 1481px;
    top: 224px;
}
#box_two_1{
    left: 319px;
    top: 255px;
}
#box_two_2{
    left: 463px;
    top: 289px;
}
#box_three_1{
    left: 625px;
    top: 42px;
}
#box_three_2{
    left: 769px;
    top: 75px;
}
#box_four_1{
    left: 946px;
    top: 775px;
}
#box_four_2{
    left: 954px;
    top: 715px;
}
#box_five_1{
    left: 303px;
    top: 664px;
}
#box_five_2{
    left: 443px;
    top: 723px;
}





.attention{
    position: absolute;
    height: 132px;
    width: 448px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    rotate: 22deg;
    top: 561px;
    left: -44px;
}
.attention_text{
    line-height: 78%;
    color: #f10000;
    font-size: 40px;
}