@import url('reset.css');
@import url('font.css');
@import url('background.css');
@import url('signs.css');
@import url('windows.css');
@import url('stars.css');
@import url('letters.css');
@import url('titles.css');
@import url('footer.css');
@import url('pixels_of_buildings.css');
body{
    width: 1728px;
    height: 996px;
}
#text_300{
    font-size: 300px;
    left: 305px;
    top: 58px;
}
#text_200_1{
    font-size: 200px;
    left: 730px;
    top: 250px;
}
#text_200_2{
    font-size: 200px;
    left: 1097px;
    top: 101px;
}
#text{
    font-size: 46px;
    color: #000;
}
#text_regular{
    left: 239px;
    top: 397px;
}
#text_bold{
    font-weight: 700;
    left: 281px;
    top: 545px;
}

